<div class="constellation-details">
  <div class="card text-white bg-dark">
    <div class="card-header">
      <h5>
        <a [routerLink]="['/characters/constellation/all/' + constellation.id]">{{ constellation.name || 'Not revealed' }}</a>
      </h5>
    </div>

    <div class="card-body">
      <img *ngIf="constellation.image" src="{{ constellation.image }}" alt="Constellation image" class="card-img">

      <div class="card-text">
        <p>
          <b>Meaning: </b>
          <span>{{ constellation.meaning }}</span>
        </p>

        <p>
          <b>Symbol: </b>
          <a [routerLink]="['/characters/classes/constellations']">Constellations</a>
        </p>

        <h6 class="card-subtitle">Cloths:</h6>

        <a class="cloth" [routerLink]="['/characters/classes/' + saint.class.toLowerCase().replace(' ', '-') + '/' + saint.id]" *ngFor="let saint of constellation.saints">
          <img src="{{ saint.image }}" alt="Cloth image" class="card-img-icon">

          <span class="cloth-name">{{ saint.cloth }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
