<div class="debut-list">
  <h1>{{ pageTitle }}</h1>

  <div class="cards">
    <div class="card text-white bg-dark" *ngFor="let debut of debuts">
      <div class="card-header">
        <h6 class="card-subtitle mb-2 text-muted">{{ debut.midia }}: Saint Seiya</h6>

        <h5 class="card-title">{{ debut.name }} ({{ debut.release }})</h5>
      </div>

      <div class="card-body">
        <img src="{{ debut.image }}" alt="{{ debut.name }} image" class="card-img">

        <p class="card-text">{{ debut.description }}</p>
      </div>
    </div>
  </div>
</div>
