.saints-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding: 20px;

  h1, h2 {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 40px 0 30px 0;
    text-transform: capitalize;
    z-index: 10;
  }

  h2 {
    margin: 20px 0 40px 0;
  }

  .saints {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-width: 1280px;
  }

  .saint-group {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 5px;
    padding: 5px;

    legend {
      color: rgba(255, 255, 255, 0.5);
      padding: 5px;
      width: initial;
      font-size: 18px;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      background-color: #1123d5;
    }
  }

  .saint {
    display: inline-block;
    background-color: #000963;
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 200px;
    text-align: center;

    .saint-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    p {
      color: white;
      margin: 0;
      padding: 0;
      font-size: 14px;
    }

    .image-scheme {
      max-width: 100%;
      height: 100px;
      margin: 5px 0;
    }

    span {
      display: block;
      color: white;
      font-size: 12px;
    }
  }
}
