@import '../../../../themes/white-label';

.header {
  position: relative;
  z-index: 3;

  .navbar {
    justify-content: flex-end;

    .navbar-brand {
      position: absolute;
      top: 0px;
      left: 15px;
      display: flex;
      align-items: center;
      height: 53px;

      @media screen and (min-width: 769px) {
        top: 6px;
      }

      .icon-athena-staff {
        color: rgba(255, 255, 255, 0.5);
        font-size: 50px;
        padding-right: 10px;
        position: relative;
        top: 8px;
      }

      .brand-name {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    .navbar-collapse {
      padding-left: 200px;
    }

    .navbar-brand {
      &:hover, &:focus {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.nav-link {
  color: rgba(255, 255, 255, 0.5);

  &:hover, &:focus {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.75);
  }
}
