.character {
  height: 100%;

  &.single {
    .card {
      width: initial;
    }

    .card-body {
      display: flex;
      flex-wrap: wrap;
    }

    .card-img {
      height: initial;
      max-height: 680px;
      width: auto;

      @media screen and (min-width: 1260px) {
        margin-right: 40px;
        margin-left: 20px;
      }
    }
  }

  .card {
    width: 270px;
    height: 100%;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover, &:focus {
      font-weight: bold;
    }
  }

  .card-img {
    display: block;
    margin: 10px auto;
    max-height: 150px;
    max-width: 100%;
    width: initial;
  }

  .cloth {
    display: flex;
    margin: 5px 0;
    align-items: center;
  }

  .card-img-icon {
    height: 50px;
    margin-right: 10px;
    width: 50px;
  }

  .cloth-name {
    display: block;
    font-size: 14px;
    width: 130px;
  }
}
