<div class="about">
  <h1>{{ pageTitle }}</h1>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">What is this?</h5>

      <p class="card-text">This website provides a RESTful API interface to highly detailed objects built from thousands of lines of data related to Saint Seiya. Using this website, you can consume information on Saint Seiya, their characters, cloths, classes and more.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">What is an API?</h5>

      <p class="card-text">An API (Application Programming Interface) is a contract that allow developers to interact with an application through a set of interfaces. In this case, the application is a database of thousands of Saint-Seiya-related objects, and the interfaces are URL links. A RESTful API is an API that conforms to a set of loose conventions based on HTTP verbs, errors, and hyperlinks.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">The API is missing stuff!</h5>

      <p class="card-text">I know! Feel free to contribute to open issues on <a href="https://github.com/diegochagas/saint-seiya-api" target="_blank" rel="noopener noreferrer">GitHub</a>.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">So who built this?</h5>

      <p class="card-text">Saint Seiya V1 was created by Diego Chagas as a personal project.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Where did you get all of this data?</h5>

      <p class="card-text">I gathered the information on this site from various resources:</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="http://saintseiya-official.com/" target="_blank" rel="noopener noreferrer">Saint Seiya Official Web site (Japanese)</a>
        </li>

        <li class="list-group-item">
          <a href="https://saintseiya.fandom.com/wiki/Seiyapedia" target="_blank" rel="noopener noreferrer">Saint Seiya Wiki</a>
        </li>

        <li class="list-group-item">
          <a href="https://saintseiya.fandom.com/pt-br/wiki/Saint_Seiya_Wiki" target="_blank" rel="noopener noreferrer">Saint Seiya Wiki (Portuguese)</a>
        </li>

        <li class="list-group-item">
          <a href="https://saintseiya.fandom.com/es/wiki/Saint_Seiya_Wiki" target="_blank" rel="noopener noreferrer">Saint Seiya Wiki (Spanish)</a>
        </li>

        <li class="list-group-item">
          <a href="https://ssu.fandom.com/wiki/Seiya_Universe_Wiki" target="_blank" rel="noopener noreferrer">Saint Seiya Universe (Portuguese)</a>
        </li>

        <li class="list-group-item">
          <a href="https://www.cavzodiaco.com.br/" target="_blank" rel="noopener noreferrer">CavZodiaco (Portuguese)</a>
        </li>

        <li class="list-group-item">
          <a href="http://seiya.17173.com/news/05072013/171743839_all.shtml" target="_blank" rel="noopener noreferrer">Official arts of the MMORPG Saint Seiya Online (Japanese)</a>
        </li>

        <li class="list-group-item">
          <a href="http://marcoalbiero.altervista.org/gallery/fan-arts/saint-seiya/" target="_blank" rel="noopener noreferrer">Marco Albiero fanarts</a>
        </li>

        <li class="list-group-item">
          <a href="https://goldmilo.deviantart.com/gallery/" target="_blank" rel="noopener noreferrer">Goldmilo deviantart fanarts</a>
        </li>

        <li class="list-group-item">
          <a href="https://javiiit0.deviantart.com/gallery/" target="_blank" rel="noopener noreferrer">Javiii0 deviantart fanarts</a>
        </li>

        <li class="list-group-item">
          <a href="https://ladyheinstein.deviantart.com/gallery/" target="_blank" rel="noopener noreferrer">Lady Heinstein deviantart fanarts</a>
        </li>

        <li class="list-group-item">
          <a href="https://www.deviantart.com/133011795/gallery/?catpath=/" target="_blank" rel="noopener noreferrer">M6 L Yang deviantart fanarts</a>
        </li>

        <li class="list-group-item">
          <a href="http://www.toei-anim.co.jp/tv/seiya/character/index.html" target="_blank" rel="noopener noreferrer">Toei Animation: Characters list (Japanese)</a>
        </li>

        <li class="list-group-item">
          <a href="http://snk-seiya.net/guiasaintseiya/Hipermito.html" target="_blank" rel="noopener noreferrer">Hypermyth with updated images (Spanish)</a>
        </li>

        <li class="list-group-item">
          <a href="https://www.cavzodiaco.com.br/noticia/15/11/2009/natassia-do-pais-de-gelo-blue-warriors-assista-agora-mesmo-o-episodio-completo-do-projeto-de-animacao-caseira-brasileira" target="_blank" rel="noopener noreferrer">Blue Warriors Brazilian animation (Portuguese)</a>
        </li>

        <li class="list-group-item">
          <a href="https://en.wikipedia.org/wiki/List_of_Saint_Seiya_Episode.G_chapters" target="_blank" rel="noopener noreferrer">List of Saint Seiya Episode.G</a>
        </li>

        <li class="list-group-item">
          <a href="https://unionmangas.top/manga/saint-seiya-episode-g" target="_blank" rel="noopener noreferrer">Saint Seiya - Episode G: Manga Online (Portuguese)</a>
        </li>

        <li class="list-group-item">
          <a href="https://www.youtube.com/channel/UCwdCQ5sSryDS-WqydvInmeQ/featured" target="_blank" rel="noopener noreferrer">Geek U Youtube Channel (Spanish)</a>
        </li>

        <li class="list-group-item">
          <a href="https://sleepopolis.com/education/constellations-stars/" target="_blank" rel="noopener noreferrer">The 88 Constellations and Their Brightest Stars</a>
        </li>

        <li class="list-group-item">
          <a href="https://ssu.fandom.com/wiki/Lista_de_Estrelas_Malignas" target="_blank" rel="noopener noreferrer">Evil Stars List (Portuguese)</a>
        </li>

        <li class="list-group-item">
          <a href="https://en.wikipedia.org/wiki/108_Stars_of_Destiny" target="_blank" rel="noopener noreferrer">108 Stars of Destiny</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">What's the technology stack?</h5>

      <p class="card-text">The website were built using Angular framework and CSV files database to store the data. The API were build with Node and Express, that were used to expose the data through a RESTful API, that converted CSV files to serve static JSON files in a fully backwards compatible manner. The images was storage on Firebase.</p>
    </div>
  </div>
</div>
