<div class="header">
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']">
      <i class="icon-athena-staff"></i>

      <span class="brand-name">Saint Seiya API</span>
    </a>

    <button class="navbar-toggler" appMenuToggle>
      <i class="material-icons">menu</i>
    </button>

    <div class="collapse navbar-collapse" #menuToggle>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button class="nav-link" mat-menu-item [matMenuTriggerFor]="classesMenu">
            <span>Characters</span>

            <i class="material-icons">arrow_right</i>
          </button>
        </li>

        <li class="nav-item">
          <a [routerLink]="['/debuts']" class="nav-link" mat-menu-item>Debuts</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/characters/curiosities']" mat-menu-item>Curiosities</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/test-calls']" mat-menu-item>Test calls</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']" mat-menu-item>About</a>
        </li>
      </ul>

      <mat-menu #classesMenu="matMenu" xPosition="before">
        <ng-container *ngIf="classes.length > 0; else spinner">
          <a class="dropdown-item nav-link" [routerLink]="['/characters/personal']" mat-menu-item>All</a>

          <button class="nav-link" mat-menu-item [matMenuTriggerFor]="artistsMenu">
            By artists
          </button>

          <button class="nav-link" mat-menu-item [matMenuTriggerFor]="debutsMenu">
            By debuts
          </button>

          <a
            *ngFor="let cls of classes"
            class="nav-link"
            [routerLink]="'/characters/classes/' + cls.route"
            mat-menu-item
          >
            {{ cls.name }}
          </a>
        </ng-container>
      </mat-menu>

      <mat-menu #debutsMenu="matMenu" xPosition="before">
        <ng-container *ngIf="debuts.length > 0; else spinner">
          <a
            *ngFor="let debut of debuts"
            class="nav-link"
            [routerLink]="['/characters/debut/' + debut.id]"
            mat-menu-item
          >
            {{ debut.title }}
          </a>
        </ng-container>
      </mat-menu>

      <mat-menu #artistsMenu="matMenu" xPosition="before">
        <ng-container *ngIf="artists.length > 0; else spinner">
          <a
            *ngFor="let artist of artists"
            class="nav-link"
            [routerLink]="['/characters/artist/' + artist.id]"
            mat-menu-item
          >
            {{ artist.name }}
          </a>
        </ng-container>
      </mat-menu>
    </div>
  </nav>

  <ng-template #spinner>
    <div class="loading-spinner">
      <app-spinner [spinner]="'zodiac-wheel'" [color]="'white'"></app-spinner>
    </div>
  </ng-template>
</div>
