<div class="saints-list">
  <ng-container *ngIf="groups && groups.length; else spinner">
    <div *ngFor="let group of groups">
      <h2>{{ group.title }}</h2>

      <div class="saints" >
        <fieldset class="saint-group" *ngFor="let item of group.items">
          <legend>{{ item.name }}</legend>

          <a class="saint" *ngFor="let saint of item.saints" href="{{ '#/characters/' + path + saint.class.classSingular.replace(' ', '-').toLowerCase() + '/' + saint.id }}">
            <div class="saint-container">
              <p class="">{{ saint.name || 'Not Revealed' }}</p>

              <img *ngIf="saint.image" class="image-scheme" src="{{ saint .image }}" alt="{{ saint.name }}">

              <span>{{ saint.cloth || 'Not Revealed' }}</span>
            </div>
          </a>

          <div class="saint" *ngIf="item && item.saints && item.saints.length === 0">
            <div class="saint-container">
              <img class="image-scheme" src="assets/cloth-schemes/others/no-scheme.png" alt="Unknown saint">
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </ng-container>

  <ng-template #spinner>
    <app-spinner [spinner]="'zodiac-wheel'" [color]="'blue'"></app-spinner>
  </ng-template>
</div>

