<div class="test-calls">
  <h1>Test calls</h1>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Introduction</h5>

      <p class="card-text">The Saint Seiya Web API Test calls lets you explore the endpoints through an easy-to-use interface.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Get all characters</h5>

      <p class="card-text">
        <b>Endpoint </b>

        <span>{{ pageURL }}/characters</span>
      </p>

      <p class="card-text">
        <b>HTTP Method </b>

        <span>GET</span>
      </p>

      <button class="btn btn-dark" (click)="getCharacters()">Try it</button>
    </div>

    <div class="card-footer" *ngIf="charactersResponse">
      <code>{{ charactersResponse | json }}</code>
    </div>
  </div>

  <div class="card" *ngIf="characterIds.length">
    <div class="card-body">
      <h5 class="card-title">Get an character</h5>

      <p class="card-text">
        <b>Endpoint </b>

        <span>{{ pageURL }}/character/</span>

        <mat-form-field>
          <mat-select (selectionChange)="characterId = $event.value">
            <mat-option *ngFor="let id of characterIds" [value]="id">{{ id }}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <p class="card-text">
        <b>HTTP Method </b>

        <span>GET</span>
      </p>

      <button [disabled]="characterId === undefined" class="btn btn-dark" (click)="getCharacter()">Try it</button>
    </div>

    <div class="card-footer" *ngIf="characterResponse">
      <code>{{ characterResponse | json }}</code>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Get several characters curiosities</h5>

      <p class="card-text">
        <b>Endpoint </b>

        <span>{{ pageURL }}/curiosities</span>
      </p>

      <p class="card-text">
        <b>HTTP Method </b>

        <span>GET</span>
      </p>

      <button class="btn btn-dark" (click)="getCuriosities()">Try it</button>
    </div>

    <div class="card-footer" *ngIf="curiositiesResponse">
      <code>{{ curiositiesResponse | json }}</code>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Get all class names</h5>

      <p class="card-text">
        <b>Endpoint </b>

        <span>{{ pageURL }}/class-names</span>
      </p>

      <p class="card-text">
        <b>HTTP Method </b>

        <span>GET</span>
      </p>

      <button class="btn btn-dark" (click)="getClassNames()">Try it</button>
    </div>

    <div class="card-footer" *ngIf="classNamesResponse">
      <code>{{ classNamesResponse | json }}</code>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Get all classes of characters</h5>

      <p class="card-text">
        <b>Endpoint </b>

        <span>{{ pageURL }}/all-classes</span>
      </p>

      <p class="card-text">
        <b>HTTP Method </b>

        <span>GET</span>
      </p>

      <button class="btn btn-dark" (click)="getClasses()">Try it</button>
    </div>

    <div class="card-footer" *ngIf="allClassesResponse">
      <code>{{ allClassesResponse | json }}</code>
    </div>
  </div>

  <div class="card" *ngIf="classNames.length">
    <div class="card-body">
      <h5 class="card-title">Get several class types</h5>

      <p class="card-text">
        <b>Endpoint </b>

        <span>{{ pageURL }}/</span>

        <mat-form-field>
          <mat-select (selectionChange)="className = $event.value">
            <mat-option *ngFor="let name of classNames" [value]="name">{{ name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <p class="card-text">
        <b>HTTP Method </b>

        <span>GET</span>
      </p>

      <button [disabled]="className === undefined" class="btn btn-dark" (click)="getClass()">Try it</button>
    </div>

    <div class="card-footer" *ngIf="classesResponse">
      <code>{{ classesResponse | json }}</code>
    </div>
  </div>

  <div class="card" *ngIf="classNames.length">
    <div class="card-body">
      <h5 class="card-title">Get an class type</h5>

      <p class="card-text">
        <b>Endpoint </b>

        <span>{{ pageURL }}/</span>

        <mat-form-field>
          <mat-select (selectionChange)="selectClassName($event.value)">
            <mat-option *ngFor="let name of classNames" [value]="name">{{ name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <span>/</span>

        <mat-form-field>
          <mat-select (selectionChange)="classId = $event.value">
            <mat-option *ngFor="let id of classIds" [value]="id">{{ id }}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <p class="card-text">
        <b>HTTP Method </b>

        <span>GET</span>
      </p>

      <button [disabled]="classNameId === undefined || classId === undefined" class="btn btn-dark" (click)="getSaint()">Try it</button>
    </div>

    <div class="card-footer" *ngIf="classResponse">
      <code>{{ classResponse | json }}</code>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Get serveral debuts</h5>

      <p class="card-text">
        <b>Endpoint </b>

        <span>{{ pageURL }}/debuts</span>
      </p>

      <p class="card-text">
        <b>HTTP Method </b>

        <span>GET</span>
      </p>

      <button class="btn btn-dark" (click)="getDebuts()">Try it</button>
    </div>

    <div class="card-footer" *ngIf="debutsResponse">
      <code>{{ debutsResponse | json }}</code>
    </div>
  </div>

  <div class="card" *ngIf="debutIds.length">
    <div class="card-body">
      <h5 class="card-title">Get an debut</h5>

      <p class="card-text">
        <b>Endpoint </b>

        <span>{{ pageURL }}/debut/</span>

        <mat-form-field>
          <mat-select (selectionChange)="debutId = $event.value">
            <mat-option *ngFor="let id of debutIds" [value]="id">{{ id }}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <p class="card-text">
        <b>HTTP Method </b>

        <span>GET</span>
      </p>

      <button [disabled]="debutId === undefined" class="btn btn-dark" (click)="getDebut()">Try it</button>
    </div>

    <div class="card-footer" *ngIf="debutResponse">
      <code>{{ debutResponse | json }}</code>
    </div>
  </div>
</div>
