<div class="personal-details">
  <div class="card text-white bg-dark">
    <div class="card-body">
      <img *ngIf="character.cloths.length <= 1" class="card-img" src="{{ character.image }}" alt="Character scheme">

      <ngb-carousel *ngIf="character.cloths.length > 1" class="card-carousel">
        <ng-template ngbSlide *ngFor="let cloth of character.cloths">
          <div class="picsum-img-wrapper">
            <img [src]="cloth.image" class="card-img" alt="{{ cloth.cloth }}">
          </div>

          <a class="background-cover" [routerLink]="['/characters/classes/' + cloth.class.toLowerCase().replace(' ', '-') + '/' + cloth.id]"></a>

          <div class="carousel-caption">
            <h3>{{ cloth.class }}</h3>
            <p>{{ cloth.cloth }}</p>
          </div>
        </ng-template>
      </ngb-carousel>

      <div class="card-text">
        <p>
          <b>Name: </b>
          <span>{{ character.name || 'Not revealed' || 'Not revealed' }}</span>
        </p>

        <p>
          <b>Age: </b>
          <span>{{ character.age || 'Not revealed' }}</span>
        </p>

        <p>
          <b>Gender: </b>
          <span>{{ character.gender || 'Not revealed' }}</span>
        </p>

        <p>
          <b>Birth: </b>
          <span>{{ character.birth || 'Not revealed' }}</span>
        </p>

        <p>
          <b>Nationality: </b>
          <span>{{ character.nationality || 'Not revealed' }}</span>
        </p>

        <p>
          <b>Training: </b>
          <span>{{ character.training || 'Not revealed' }}</span>
        </p>

        <p>
          <b>Height: </b>
          <span>{{ character.height || 'Not revealed' }}</span>
        </p>

        <p>
          <b>Weight: </b>
          <span>{{ character.weight || 'Not revealed' }}</span>
        </p>

        <p>
          <b>Blood: </b>
          <span>{{ character.blood || 'Not revealed' }}</span>
        </p>

        <p>
          <b>Master(s): </b>
          <ng-container *ngIf="character.master.length === 0; else masters">
            <span>Not revealed</span>
          </ng-container>

          <ng-template #masters>
            <span *ngFor="let master of character.master; let i = index">
              <a [routerLink]="['/characters/personal/all/' + master.id]">
                {{ master.name }}
              </a>
              {{ i === character.master.length - 1 ? '' : ' / ' }}
            </span>
          </ng-template>
        </p>

        <p>
          <b>Apprentice(s): </b>
          <ng-container *ngIf="character.apprentice.length === 0; else apprentices">
            <span>Not revealed</span>
          </ng-container>

          <ng-template #apprentices>
            <span *ngFor="let apprentice of character.apprentice; let i = index" >
              <a [routerLink]="['/characters/personal/all/' + apprentice.id]">
                {{ apprentice.name }}
              </a>
              {{ i === character.apprentice.length - 1 ? '' : ' / ' }}
            </span>
          </ng-template>
        </p>

        <p>
          <b>Attacks: </b>
          <ng-container *ngIf="character.attacks.length === 0; else attacks">
            <span>Not revealed</span>
          </ng-container>

          <ng-template #attacks>
            <span *ngFor="let attack of character.attacks; let i = index">
              {{ attack }}{{ i === character.attacks.length - 1 ? '' : ' / ' }}
            </span>
          </ng-template>
        </p>

        <p>
          <b>Family: </b>
          <ng-container *ngIf="character.family.length === 0; else family">
            <span>Not revealed</span>
          </ng-container>

          <ng-template #family>
            <span *ngFor="let family of character.family; let i = index">
              <a [routerLink]="['/characters/personal/all/' + family.id]">
                {{ family.member }}
              </a>
              {{ i === character.family.length - 1 ? '' : ' / ' }}
            </span>
          </ng-template>
        </p>
      </div>
    </div>

    <ng-container *ngIf="character.cloths.length > 0">
      <div class="card-footer" *ngIf="character.cloths[0].class !== 'Others'">
        <h6 class="card-subtitle">Cloths:</h6>

        <a
          class="cloth"
          *ngFor="let cloth of character.cloths"
          [routerLink]="['/characters/classes/' + cloth.class.toLowerCase().replace(' ', '-') + '/' + cloth.id]"
        >
          <img src="{{ cloth.image }}" alt="Cloth scheme" class="card-img-icon">

          <span class="cloth-name">{{ cloth.cloth || 'Not revealed' }}</span>
        </a>
      </div>
    </ng-container>
  </div>
</div>
