.personal-details {
  height: 100%;

  a {
    color: inherit;
    text-decoration: none;

    &:hover, &:focus {
      font-weight: bold;
    }
  }

  .card {
    width: initial;
    max-width: 1024px;
    height: 100%;

    .card-body {
      display: flex;
      flex-wrap: wrap;
    }

    .card-title {
      text-align: center;
    }

    .card-img {
      height: initial;
      max-height: 400px;
      display: block;
      max-width: 100%;
      width: initial;
      margin-bottom: 20px;
      flex: 2;

      @media screen and (min-width: 1024px) {
        margin-right: 20px;
      }
    }

    .card-carousel {
      align-self: flex-start;
      margin-bottom: 20px;
      position: relative;

      .background-cover {
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      @media screen and (min-width: 1024px) {
        margin-right: 20px;
      }

      .card-img {
        margin: 0;
      }
    }

    .card-text {
      max-width: 320px;
      flex: 1;
    }

    .cloth {
      display: flex;
      margin: 5px 0;
      align-items: center;
    }

    .card-img-icon {
      height: 30px;
      margin-right: 10px;
      width: 30px;
    }

    .cloth-name {
      display: block;
      font-size: 14px;
      width: 130px;
    }
  }
}
