.menu-items {
  @media screen and (min-width: 769px) {
    display: flex;
  }

  .mat-menu-item {
    width: initial;
  }

  .nav-link {
    color: rgba(255, 255, 255, 0.5);

    &:hover, &:focus {
      background-color: rgba(0, 0, 0, 0.3);
      color: rgba(255, 255, 255, 0.75);
    }
  }
}

.mat-menu-item-submenu-trigger {
  &:after {
    color: rgba(255, 255, 255, 0.5);
  }
}
