<article class="get-started">
  <section class="card">
    <div class="card-body">
      <h2 class="card-title">Introduction</h2>

      <p>With Saint Seiya API you can develop applications for Saint Seiya fans with only a few lines of code. You will see bellow descriptions about the things you can do with this API.</p>
    </div>
  </section>

  <section class="card">
    <div class="card-body">
      <h2 class="card-title">Characters</h2>

      <h6 class="card-subtitle mb-2 text-muted">Retrieve data about the characters of Saint Seiya</h6>

      <p>Through Saint Seiya API you can get the personal data about the characters from the anime, manga and other midias, as their age, family, blood type and other informations.</p>

      <a class="btn btn-dark" [routerLink]="['/characters/personal']">Example</a>
    </div>
  </section>

  <section class="card">
    <div class="card-body">
      <h2 class="card-title">Debuts</h2>

      <h6 class="card-subtitle mb-2 text-muted">Retrieve data about the debuts of Saint Seiya</h6>

      <p>In this section you can be aware of the types of midias that Saint Seiya have, as manga, anime, etc. Besides that, you can learn the names of the debuts, and their release dates.</p>

      <a class="btn btn-dark" [routerLink]="['/debuts']">Example</a>
    </div>
  </section>
</article>
