<div class="characters-list">
  <h1>{{ pageTitle }}</h1>

  <ng-container *ngIf="dataSource.length; else spinner">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 bg-dark">
        <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{ column }}">
          <th mat-header-cell *matHeaderCellDef> {{ column === 'image' ? '' : column }} </th>

          <td
            mat-cell
            *matCellDef="let element"
            (click)="characterDetails((element.class ? element.class.replace(' ', '-').toLowerCase() + '/' : '') + element.id)"
          >
            <app-image-icon *ngIf="column === 'image'" [image]="element.image" [text]="element.name"></app-image-icon>

            <span *ngIf="column !== 'image'">{{ element[column] || 'Not Revealed' }}</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'disabled': (row.meaning || row.warrior) && row.saints.length === 0 }"></tr>
      </table>
    </div>
  </ng-container>

  <ng-container *ngIf="dataSourceOthers.length">
    <h2>{{ pageSubTitle }}</h2>

    <div class="table-container">
      <table mat-table [dataSource]="dataSourceOthers" class="mat-elevation-z8 bg-dark">
        <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{ column }}">
          <th mat-header-cell *matHeaderCellDef> {{ column === 'image' ? '' : column }} </th>

          <td
            mat-cell
            *matCellDef="let element"
            (click)="characterDetails((element.class ? element.class.replace('-', ' ').toLowerCase() + '/' : '') + element.id)"
          >
            <app-image-icon *ngIf="column === 'image'" [image]="element.image" [text]="element.name"></app-image-icon>

            <span *ngIf="column !== 'image'">{{ element[column] || 'Not Revealed' }}</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </ng-container>

  <ng-template #spinner>
    <app-spinner [spinner]="'zodiac-wheel'" [color]="'blue'"></app-spinner>
  </ng-template>
</div>

