.class-details {
  height: 100%;

  a {
    color: inherit;
    text-decoration: none;

    &:hover, &:focus {
      font-weight: bold;
    }
  }

  .card {
    width: initial;
    max-width: 1024px;
    height: 100%;

    .card-body {
      display: flex;
      flex-wrap: wrap;
    }

    .card-title {
      text-align: center;
    }

    .card-img {
      height: initial;
      max-height: 400px;
      display: block;
      max-width: 100%;
      width: initial;
      margin-bottom: 20px;
      flex: 2;

      @media screen and (min-width: 1024px) {
        margin-right: 20px;
      }
    }

    .card-text {
      max-width: 320px;
      flex: 1;

      span {
        text-transform: capitalize;
      }
    }
  }
}
