<div class="class-details">
  <div class="card text-white bg-dark">
    <div class="card-body">
      <img src="{{ cls.image }}" alt="{{ cls.name }} scheme" class="card-img">

      <div class="card-text">
        <p>
          <b>Name: </b>
          <span *ngIf="cls.characterId === ''">Not revealed</span>

          <a *ngIf="cls.characterId" [routerLink]="['/characters/personal/all/' + cls.characterId]">{{ cls.name || 'Not revealed' }}</a>
        </p>

        <p>
          <b>Cloth: </b>
          <span>{{ cls.cloth || 'Not revealed' }}</span>
        </p>

        <p>
          <b>Class: </b>
          <span>{{ cls.class || 'Not revealed' }}</span>
        </p>

        <p>
          <b>Rank: </b>
          <span>{{ cls.rank || 'Not revealed' }}</span>
        </p>

        <p>
          <b>Affiliation: </b>
          <span>{{ cls.affiliation || 'Not revealed' }}</span>
        </p>

        <p>
          <b>Artist: </b>

          <a *ngIf="cls.artist.site" href="{{cls.artist.site}}" target="_blank" rel="noopener noreferrer">
            {{ cls.artist.name }}
          </a>

          <span *ngIf="!cls.artist.site">{{ cls.artist.name || 'Not revealed' }}</span>
        </p>

        <p>
          <b>Symbol: </b>

          <span *ngIf="cls.groupName">{{ cls.groupName }}</span>

          <span *ngIf="!cls.groupName">Not revealed</span>
        </p>

        <p>
          <b>Attacks: </b>
          <ng-container *ngIf="cls.attacks.length === 0; else attacks">
            <span>Not revealed</span>
          </ng-container>

          <ng-template #attacks>
            <span *ngFor="let attack of cls.attacks; let i = index">
              {{ attack }}{{ i === cls.attacks.length - 1 ? '' : ' / ' }}
            </span>
          </ng-template>
        </p>

        <p>
          <b>Debut: </b>
          <a *ngIf="cls.midia" [routerLink]="['/debuts/' + cls.midia.replace(' ', '-').toLowerCase()]">
            {{ cls.midia }}: {{ cls.debut }}
          </a>

          <span *ngIf="cls.midia === undefined">Not revealed</span>
        </p>
      </div>
    </div>
  </div>
</div>
