<div class="curiosities">
  <h1>Curiosities</h1>

  <ng-container *ngIf="characters.length; else spinner">
    <div class="cards">
      <div class="card text-white bg-dark" *ngFor="let character of characters">
        <div class="card-header">
          <h2 class="card-title">
            <a [routerLink]="['/characters/personal/all/' + character.id]">{{ character.name }}</a>
          </h2>

          <h6 class="card-subtitle mb-2 text-muted">{{ character.subTitle }}</h6>
        </div>

        <div class="card-body">
          <img class="card-img" src="{{ character.image }}" alt="{{ character.name }} image">

          <div class="card-text">{{ character.description }}</div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #spinner>
    <app-spinner [spinner]="'zodiac-wheel'" [color]="'blue'"></app-spinner>
  </ng-template>
</div>
