<ng-container [ngSwitch]="color">
  <img *ngSwitchCase="'black'" src="assets/spinners/zodiac-wheel/zodiac-wheel-spinner-black.gif" alt="zodiac wheel spinner">

  <img *ngSwitchCase="'blue'" src="assets/spinners/zodiac-wheel/zodiac-wheel-spinner-blue.gif" alt="zodiac wheel spinner">

  <img *ngSwitchCase="'green'" src="assets/spinners/zodiac-wheel/zodiac-wheel-spinner-green.gif" alt="zodiac wheel spinner">

  <img *ngSwitchCase="'red'" src="assets/spinners/zodiac-wheel/zodiac-wheel-spinner-red.gif" alt="zodiac wheel spinner">

  <img *ngSwitchCase="'white'" src="assets/spinners/zodiac-wheel/zodiac-wheel-spinner-white.gif" alt="zodiac wheel spinner">

  <img *ngSwitchCase="'yellow'" src="assets/spinners/zodiac-wheel/zodiac-wheel-spinner-yellow.gif" alt="zodiac wheel spinner">

  <img *ngSwitchDefault src="assets/spinners/zodiac-wheel/zodiac-wheel-spinner-blue.gif" alt="zodiac wheel spinner">
</ng-container>

