<ng-container *ngIf="color == 'blue' || color == undefined">
  <img src="../../../../../assets/spinners/zodiac-wheel/zodiac-wheel-spinner-blue.gif" alt="zodiac wheel spinner">
</ng-container>

<ng-container *ngIf="color == 'black'">
  <img src="../../../../../assets/spinners/zodiac-wheel/zodiac-wheel-spinner-black.gif" alt="zodiac wheel spinner">
</ng-container>

<ng-container *ngIf="color == 'green'">
  <img src="../../../../../assets/spinners/zodiac-wheel/zodiac-wheel-spinner-green.gif" alt="zodiac wheel spinner">
</ng-container>

<ng-container *ngIf="color == 'red'">
  <img src="../../../../../assets/spinners/zodiac-wheel/zodiac-wheel-spinner-red.gif" alt="zodiac wheel spinner">
</ng-container>

<ng-container *ngIf="color == 'white'">
  <img src="../../../../../assets/spinners/zodiac-wheel/zodiac-wheel-spinner-white.gif" alt="zodiac wheel spinner">
</ng-container>

<ng-container *ngIf="color == 'yellow'">
  <img src="../../../../../assets/spinners/zodiac-wheel/zodiac-wheel-spinner-yellow.gif" alt="zodiac wheel spinner">
</ng-container>
