.footer {
  position: relative;
  z-index: 3;
  color: white;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 218px;

  .blocks {
    padding: 20px;
    margin: 30px 0;
  }

  a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;

    &:hover, &:focus {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  h5 {
    text-transform: uppercase;
  }

  .saint-seiya-logo {
    font-size: 150px;
    width: 200px;

    .icon-saint-seiya-logo {
      position: absolute;
      top: -15px;
    }
  }

  .links,
  .social-media {
    display: flex;
    flex-direction: column;


  }

  .social-media-links {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
  }
}
