<div class="footer">
  <div class="blocks saint-seiya-logo">
    <a href="/" class="icon-saint-seiya-logo"></a>
  </div>

  <div class="blocks links">
    <a href="/about">About Saint Seiya</a>

    <a href="http://diegochagas.com" target="_blank" rel="noopener noreferrer">About the API developer</a>

    <a href="http://saintseiya-official.com/" target="_blank" rel="noopener noreferrer">Official web page</a>
  </div>

  <div class="blocks social-media">
    <h5>Social media</h5>

    <div class="social-media-links">
      <a class="icon-github" href="https://github.com/diegochagas/saint-seiya-api" target="_blank" rel="noopener noreferrer"></a>

      <a class="icon-facebook" href="https://www.facebook.com/Seiya_offcial-1660997434203037" target="_blank" rel="noopener noreferrer"></a>

      <a class="icon-twitter" href="https://twitter.com/seiya_offcial" target="_blank" rel="noopener noreferrer"></a>
    </div>
  </div>
</div>
