<div class="test-calls">
  <h1>Test calls</h1>

  <div class="card introduction">
    <div class="card-body">
      <h5 class="card-title">Introduction</h5>

      <p class="card-text">The Saint Seiya Web API Test calls lets you explore the endpoints through an easy-to-use interface, showing examples of how the data will be returned.</p>
    </div>
  </div>

  <mat-tab-group>
    <mat-tab label="Characters">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Get all characters personal data</h5>

          <p class="card-text">
            <b>Endpoint </b>

            <span>{{ pageURL }}/characters</span>
          </p>

          <p class="card-text">
            <b>HTTP Method </b>

            <span>GET</span>
          </p>

          <button class="btn btn-dark" (click)="getCharacters()">Try it</button>
        </div>

        <div class="card-footer" *ngIf="charactersResponse">
          <code>{{ charactersResponse }}</code>
        </div>

        <div class="card-footer loading-spinner" *ngIf="isLoadingCharacters">
          <app-spinner [spinner]="'zodiac-wheel'" [color]="'black'"></app-spinner>
        </div>
      </div>

      <div class="card" *ngIf="characterIds.length">
        <div class="card-body">
          <h5 class="card-title">Get an character personal data</h5>

          <p class="card-text">
            <b>Endpoint </b>

            <span>{{ pageURL }}/character/</span>

            <mat-form-field>
              <mat-select (selectionChange)="characterId = $event.value">
                <mat-option *ngFor="let id of characterIds" [value]="id">{{ id }}</mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <p class="card-text">
            <b>HTTP Method </b>

            <span>GET</span>
          </p>

          <button [disabled]="characterId === undefined" class="btn btn-dark" (click)="getCharacter()">Try it</button>
        </div>

        <div class="card-footer" *ngIf="characterResponse">
          <code>{{ characterResponse }}</code>
        </div>

        <div class="card-footer loading-spinner" *ngIf="isLoadingCharacter">
          <app-spinner [spinner]="'zodiac-wheel'" [color]="'black'"></app-spinner>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Get several characters curiosities</h5>

          <p class="card-text">
            <b>Endpoint </b>

            <span>{{ pageURL }}/curiosities</span>
          </p>

          <p class="card-text">
            <b>HTTP Method </b>

            <span>GET</span>
          </p>

          <button class="btn btn-dark" (click)="getCuriosities()">Try it</button>
        </div>

        <div class="card-footer" *ngIf="curiositiesResponse">
          <code>{{ curiositiesResponse }}</code>
        </div>

        <div class="card-footer loading-spinner" *ngIf="isLoadingCuriosities">
          <app-spinner [spinner]="'zodiac-wheel'" [color]="'black'"></app-spinner>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Classes">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Get all class names</h5>

          <p class="card-text">
            <b>Endpoint </b>

            <span>{{ pageURL }}/class-names</span>
          </p>

          <p class="card-text">
            <b>HTTP Method </b>

            <span>GET</span>
          </p>

          <button class="btn btn-dark" (click)="getClassNames()">Try it</button>
        </div>

        <div class="card-footer" *ngIf="classNamesResponse">
          <code>{{ classNamesResponse }}</code>
        </div>

        <div class="card-footer loading-spinner" *ngIf="isLoadingClassNames">
          <app-spinner [spinner]="'zodiac-wheel'" [color]="'black'"></app-spinner>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Get all classes of characters</h5>

          <p class="card-text">
            <b>Endpoint </b>

            <span>{{ pageURL }}/all-classes</span>
          </p>

          <p class="card-text">
            <b>HTTP Method </b>

            <span>GET</span>
          </p>

          <button class="btn btn-dark" (click)="getClasses()">Try it</button>
        </div>

        <div class="card-footer" *ngIf="allClassesResponse">
          <code>{{ allClassesResponse }}</code>
        </div>

        <div class="card-footer loading-spinner" *ngIf="isLoadingAllClasses">
          <app-spinner [spinner]="'zodiac-wheel'" [color]="'black'"></app-spinner>
        </div>
      </div>

      <div class="card" *ngIf="classNames.length">
        <div class="card-body">
          <h5 class="card-title">Get several class types</h5>

          <p class="card-text">
            <b>Endpoint </b>

            <span>{{ pageURL }}/</span>

            <mat-form-field>
              <mat-select (selectionChange)="className = $event.value">
                <mat-option *ngFor="let className of classNames" [value]="className.name">{{ className.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <p class="card-text">
            <b>HTTP Method </b>

            <span>GET</span>
          </p>

          <button [disabled]="className === undefined" class="btn btn-dark" (click)="getClass()">Try it</button>
        </div>

        <div class="card-footer" *ngIf="classesResponse">
          <code>{{ classesResponse }}</code>
        </div>

        <div class="card-footer loading-spinner" *ngIf="isLoadingClasses">
          <app-spinner [spinner]="'zodiac-wheel'" [color]="'black'"></app-spinner>
        </div>
      </div>

      <div class="card" *ngIf="classNames.length">
        <div class="card-body">
          <h5 class="card-title">Get an class type</h5>

          <p class="card-text">
            <b>Endpoint </b>

            <span>{{ pageURL }}/</span>

            <mat-form-field>
              <mat-select (selectionChange)="selectClassName($event.value)">
                <mat-option *ngFor="let className of classNames" [value]="className.name">{{ className.singular }}</mat-option>
              </mat-select>
            </mat-form-field>

            <span>/</span>

            <mat-form-field>
              <mat-select (selectionChange)="classId = $event.value">
                <mat-option *ngFor="let id of classIds" [value]="id">{{ id }}</mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <p class="card-text">
            <b>HTTP Method </b>

            <span>GET</span>
          </p>

          <button [disabled]="classNameId === undefined || classId === undefined" class="btn btn-dark" (click)="getSaint()">Try it</button>
        </div>

        <div class="card-footer" *ngIf="classResponse">
          <code>{{ classResponse }}</code>
        </div>

        <div class="card-footer loading-spinner" *ngIf="isLoadingClass">
          <app-spinner [spinner]="'zodiac-wheel'" [color]="'black'"></app-spinner>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Debuts">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Get serveral debuts</h5>

          <p class="card-text">
            <b>Endpoint </b>

            <span>{{ pageURL }}/debuts</span>
          </p>

          <p class="card-text">
            <b>HTTP Method </b>

            <span>GET</span>
          </p>

          <button class="btn btn-dark" (click)="getDebuts()">Try it</button>
        </div>

        <div class="card-footer" *ngIf="debutsResponse">
          <code>{{ debutsResponse }}</code>
        </div>

        <div class="card-footer loading-spinner" *ngIf="isLoadingDebuts">
          <app-spinner [spinner]="'zodiac-wheel'" [color]="'black'"></app-spinner>
        </div>
      </div>

      <div class="card" *ngIf="debutIds.length">
        <div class="card-body">
          <h5 class="card-title">Get an debut</h5>

          <p class="card-text">
            <b>Endpoint </b>

            <span>{{ pageURL }}/debut/</span>

            <mat-form-field>
              <mat-select (selectionChange)="debutId = $event.value">
                <mat-option *ngFor="let id of debutIds" [value]="id">{{ id }}</mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <p class="card-text">
            <b>HTTP Method </b>

            <span>GET</span>
          </p>

          <button [disabled]="debutId === undefined" class="btn btn-dark" (click)="getDebut()">Try it</button>
        </div>

        <div class="card-footer" *ngIf="debutResponse">
          <code>{{ debutResponse }}</code>
        </div>

        <div class="card-footer loading-spinner" *ngIf="isLoadingDebut">
          <app-spinner [spinner]="'zodiac-wheel'" [color]="'black'"></app-spinner>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
