<div class="class-details">
  <div class="card text-white bg-dark">
    <div class="card-body">
      <img src="{{ cls.image }}" alt="{{ cls.name }} scheme" class="card-img">

      <div class="card-text">
        <p>
          <b>Name: </b>
          <span *ngIf="cls.characterId === ''">Not revealed</span>

          <a *ngIf="cls.characterId" [routerLink]="['/characters/personal/all/' + cls.characterId]">{{ cls.name || 'Not revealed' }}</a>
        </p>

        <p>
          <b>Cloth: </b>
          <span>{{ cls.cloth || 'Not revealed' }}</span>
        </p>

        <p>
          <b>Class: </b>

          <a *ngIf="cls.class.class" [routerLink]="['/characters/classes/' + cls.class.class.replace(' ', '-').toLowerCase()]">
            {{ cls.class.classSingular }}
          </a>

          <span *ngIf="!cls.class.class">Not revealed</span>
        </p>

        <p>
          <b>Rank: </b>
          <span>{{ cls.rank || 'Not revealed' }}</span>
        </p>

        <p>
          <b>Affiliation: </b>

          <a *ngIf="cls.affiliation.id" [routerLink]="['/characters/personal/all/' + cls.affiliation.id]">
            {{ cls.affiliation.name }}
          </a>

          <span *ngIf="!cls.affiliation.name">{{ cls.affiliation.name || 'Not revealed' }}</span>
        </p>

        <p>
          <b>Artists: </b>

          <ng-container *ngIf="cls.artists.length === 0; else artists">
            <span>Not revealed</span>
          </ng-container>

          <ng-template #artists>
            <br *ngIf="cls.artists.length > 1" />

            <span>
              <a *ngIf="cls.artists[0].type === 'saint'" [routerLink]="['/characters/artist/' + cls.artists[0].details.id]">
                (Saint) {{ cls.artists[0].details.name }}
              </a>
              <a *ngIf="cls.artists[1] && cls.artists[1].type === 'saint'" [routerLink]="['/characters/artist/' + cls.artists[1].details.id]">
                (Saint) {{ cls.artists[1].details.name }}
              </a>

              <br *ngIf="cls.artists.length > 1" />

              <a *ngIf="cls.artists[0].type === 'cloth'" [routerLink]="['/characters/artist/' + cls.artists[0].details.id]">
                (Cloth) {{ cls.artists[0].details.name }}
              </a>

              <a *ngIf="cls.artists[1] && cls.artists[1].type === 'cloth'" [routerLink]="['/characters/artist/' + cls.artists[1].details.id]">
                (Cloth) {{ cls.artists[1].details.name }}
              </a>
            </span>
          </ng-template>
        </p>

        <p>
          <b>Symbol: </b>

          <span *ngIf="cls.class.name">{{ cls.class.name }}</span>

          <span *ngIf="!cls.class.name">Not revealed</span>
        </p>

        <p>
          <b>Attacks: </b>
          <ng-container *ngIf="cls.attacks.length === 0; else attacks">
            <span>Not revealed</span>
          </ng-container>

          <ng-template #attacks>
            <ng-container *ngFor="let attack of cls.attacks; let i = index">
              <br *ngIf="i < cls.attacks.length" />

              <span>
                {{ attack }}
              </span>
            </ng-container>
          </ng-template>
        </p>

        <p>
          <b>Debut: </b>
          <a *ngIf="cls?.debut?.midia" [routerLink]="['/characters/debut/' + cls.debut.id]">
            {{ cls.debut.midia.name }}: Saint Seiya {{ cls.debut.name }}
          </a>

          <span *ngIf="cls.debut.midia === undefined">Not revealed</span>
        </p>
      </div>
    </div>
  </div>
</div>
