<div [ngClass]="{ 'class-details': true, 'single': single }">
    <div class="card text-white bg-dark">
      <div class="card-header">
        <h5>
          <a href="/characters/classes/{{ cls.class.toLowerCase().replace(' ', '-') }}/{{ cls.id }}">{{ cls.character }}</a>
        </h5>
      </div>

      <div class="card-body">
        <img src="{{ cls.scheme }}" alt="" class="card-img">

        <div class="card-text">
          <p>
            <b>Cloth: </b>
            <span>{{ cls.cloth }}</span>
          </p>

          <p>
            <b>Class: </b>
            <a href="/classes/{{ cls.class.toLowerCase().replace(' ', '-') }}">{{ cls.class }}</a>
          </p>

          <p>
            <b>Rank: </b>
            <span>{{ cls.rank }}</span>
          </p>

          <p>
            <b>Affiliation: </b>
            <span>{{ cls.affiliation }}</span>
          </p>

          <p>
            <b>Artist: </b>
            <span>{{ cls.artist }}</span>
          </p>

          <p>
            <b>Representation: </b>
            <span>{{ cls.representation }}</span>
          </p>

          <p>
            <b>Attacks: </b>
            <span *ngFor="let attack of cls.attacks; let i = index">{{ attack }}{{ i === cls.attacks.length - 1 ? '' : ' / ' }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
