.characters {
  h1, h2 {
    color: white;
    text-align: center;
    margin-top: 70px;
    text-transform: capitalize;
  }

  .characters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .character-item {
      margin: 50px 15px 0 15px;
    }
  }
}
