.debuts {
  h1 {
    color: rgba(255, 255, 255, 0.5);;
    text-align: center;
    margin: 40px 0 15px 0;
    text-transform: capitalize;
    z-index: 10;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      margin: 20px;
      width: 280px;
    }

    .card-img {
      margin-bottom: 15px;
      height: 300px;
    }
  }
}
