@import '../../themes/white-label';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 480px;

  .presentation {
    position: relative;

    .description {
      color: white;
      padding: 0 30px;
      position: absolute;
      text-shadow: 2px 2px #000;
      top: 30px;
      z-index: 5;
      max-width: 500px;

      .btn {
        text-transform: uppercase;
        padding: 10px 30px;
      }
    }

    .image-container {
      min-height: 360px;

      @media screen and (max-width: 380px) { min-height: 380px; }
      @media screen and (max-width: 335px) { min-height: 450px; }
    }
  }
}
