<div class="home">
  <div class="presentation">
    <div class="description">
      <h2>The characters!<br>The cloths!<br>The saints!</h2>

      <h1>{{ title }}</h1>

      <button class="btn btn-dark">Get started</button>
    </div>

    <div class="image-container">
      <img class="img-fluid" src="(../../assets/images/bronze-saints-background.png" alt="">
    </div>
  </div>

  <div class="others">
    <div class="card">
      <div class="card-body">
        <a class="card-title" href="">
          <span class="icon-saint-seiya-logo"></span>

          <span>API documentation</span>
        </a>

        <p class="card-text">Read the documentation and rules of the road for the Marvel Comics API.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <a class="card-title" href="">
          <span class="icon-zodiac-wheel-2"></span>

          <span>Test calls</span>
        </a>

        <p class="card-text">Use the interactive test page to explore and test API calls.</p>
      </div>
    </div>
  </div>
</div>
