@import '../../themes/white-label';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon-athena-staff {
    font-size: 200px;
  }

  .urls {
    list-style: none;
    padding: 0;

    a {
      color: white;
      text-decoration: none;
    }
  }
}
