.curiosities {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: rgba(255, 255, 255, 0.5);;
    text-align: center;
    margin: 40px 0 15px 0;
    text-transform: capitalize;
    z-index: 10;
  }

  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);

    &:hover, &:focus {
      font-weight: bold;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      margin: 20px;
      width: 280px;
    }

    .card-img {
      margin-bottom: 10px;
    }
  }
}
